@model HealthIns.Web.ViewModels.Contract.ContractSearchViewModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-sm-4 mt-3">
    <form method="GET" action="/Contract/Search">
        <div class="form-group">
            <label asp-for="CntrctId">Contract Identifier</label>
            <input asp-for="CntrctId" type="text" class="form-control" id="cntrctId" value="@Model.CntrctId" name="cntrctId" placeholder="Search by Contract Identifier...">
        </div>
        <div class="form-group">
            <label asp-for="Status">Status</label>
            <select asp-for="Status" class="form-control" id="status" name="status">
                <option disabled value="" selected>Search By Contract Status</option>
                <option value="InForce">In Force</option>
                <option value="Canceled">Canceled</option>
            </select>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i> Search</button>
                <a class="btn btn-outline-secondary" href="/Contract/Search" type="submit"><i class="fas fa-eraser"></i> Reset </a>
            </div>
        </div>
    </form>
</div>
<div class="table-responsive-sm">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Owner</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ContractsFound.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + ((Model.CurrentPage - 1) * Model.PageSize) + 1)</th>
                    <th>@Model.ContractsFound[i].Id</th>
                    <td>@Model.ContractsFound[i].PersonFullName</td>
                    @if (Model.ContractsFound[i].Status == HealthIns.Data.Models.Bussines.Enums.Status.InForce)
                    {
                        <td class="text-success">In Force</td>
                    }
                    else
                    {
                        <td class="text-danger">Canceled</td>
                    }
                    <td>
                        <a href="/Contract/Details/@Model.ContractsFound[i].Id">

                            <i class="fas fa-binoculars"
                               title="Contract details"></i>
                        </a>
                    </td>

                    <td>
                        @if (Model.ContractsFound[i].Status != HealthIns.Data.Models.Bussines.Enums.Status.Canceled)
                        {
                            <a href="/Contract/Edit/@Model.ContractsFound[i].Id">
                                <i class="fas fa-edit"
                                   title="Edit contract"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.TotalPages != 1 && Model.ContractsFound.Any())
    {
        <div class="text-center">
            <span class="text-muted">Page <span id="grid-page-num">@(Model.CurrentPage)</span> / <span id="grid-pages">@Model.TotalPages</span></span>
        </div>
    }
    <div>
        <ul class="pagination">
            @if (Model.ShowPrevious)
            {
                <li class="page-item">
                    <a href="/Contract/Search?CurrentPage=@(Model.CurrentPage -1)&CntrctId=@(Model.CntrctId)&Status=@(Model.Status)" class="page-link"><i class="fas fa-angle-left"></i> Previous</a>
                </li>
            }
            @if (Model.ShowNext)
            {
                <li class="page-item">
                    <a href="/Contract/Search?CurrentPage=@(Model.CurrentPage + 1)&CntrctId=@(Model.CntrctId)&Status=@(Model.Status)" class="page-link">Next <i class="fas fa-angle-right"></i></a>
                </li>
            }
        </ul>
    </div>
</div>

